/*
Theme Name: range-developments.webflow
Author: Brandon Perdue
Description: Range Developments
Version: 1.0.0
License: GPL v2
License URI: https://www.gnu.org/licenses/licenses.html
Text Domain: range-developmentswebflow
*/

/* Gutenberg wide image css */
@media only screen and (min-width: 768px) {

  .alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }

  .alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
    width: auto;
    max-width: 1000%;
  }

  .alignwide img,
  .alignfull img {
    display: block;
    margin: 0 auto;
  }
   .w-richtext figure.alignfull, .w-richtext figure, .w-richtext figure.alignwide{
    position: initial;
    max-width: unset;
  }
}
.wp-block-code,
.wp-block-preformatted pre {
    font-family: Menlo, Consolas, monaco, monospace;
    font-size: 14px;
    color: #23282d
}
.wp-block-table {
    overflow-x: auto;
    display: block;
    border-collapse: collapse;
    width: 100%
}

.wp-block-table tbody,
.wp-block-table tfoot,
.wp-block-table thead {
    width: 100%;
    min-width: 240px;
    display: table
}

.wp-block-table td,
.wp-block-table th {
    padding: .5em;
    border: 1px solid currentColor
}
